.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.743000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.996000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.996000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.925293;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.939453;font-style:normal;font-weight:normal;visibility:visible;}
.m1{transform:matrix(0.249319,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249319,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249319,0.000000,0.000000,0.250000,0,0);}
.m2{transform:matrix(0.249324,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249324,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249324,0.000000,0.000000,0.250000,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls7{letter-spacing:-7.840000px;}
.ls3{letter-spacing:-1.726830px;}
.ls5{letter-spacing:-0.760000px;}
.ls4{letter-spacing:-0.425794px;}
.ls0{letter-spacing:0.000000px;}
.ls1{letter-spacing:0.240000px;}
.ls6{letter-spacing:2.120000px;}
.ls2{letter-spacing:3.665440px;}
.ls8{letter-spacing:17.080000px;}
.ls9{letter-spacing:18.320000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws8{word-spacing:-18.320000px;}
.ws7{word-spacing:-17.080000px;}
.ws2{word-spacing:-3.665440px;}
.ws5{word-spacing:-2.120000px;}
.ws1{word-spacing:-0.240000px;}
.ws0{word-spacing:0.000000px;}
.ws4{word-spacing:0.760000px;}
.ws3{word-spacing:1.726830px;}
.ws6{word-spacing:7.840000px;}
._5{margin-left:-14.800000px;}
._a{margin-left:-8.240000px;}
._6{margin-left:-2.280000px;}
._0{margin-left:-1.160000px;}
._2{width:2.272573px;}
._1{width:3.592131px;}
._b{width:17.080000px;}
._c{width:18.320000px;}
._7{width:64.000000px;}
._9{width:98.880000px;}
._8{width:131.047427px;}
._3{width:141.670993px;}
._4{width:2904.385456px;}
.fc2{color:rgb(255,255,255);}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(59,57,63);}
.fs3{font-size:23.655200px;}
.fs4{font-size:29.161200px;}
.fs1{font-size:40.000000px;}
.fs2{font-size:73.308800px;}
.fs0{font-size:200.000000px;}
.y0{bottom:0.000000px;}
.y5{bottom:24.201500px;}
.y4{bottom:24.731500px;}
.y6{bottom:25.111300px;}
.y8{bottom:26.933600px;}
.y9{bottom:28.608681px;}
.y7{bottom:35.687500px;}
.y23{bottom:36.202500px;}
.y22{bottom:36.732500px;}
.y3{bottom:398.944900px;}
.y2{bottom:413.944900px;}
.y1{bottom:468.070000px;}
.y21{bottom:496.693800px;}
.y20{bottom:511.693800px;}
.y1f{bottom:541.693800px;}
.y1e{bottom:556.693800px;}
.y1d{bottom:571.693800px;}
.y2a{bottom:574.214300px;}
.y12{bottom:574.449900px;}
.y1c{bottom:586.693800px;}
.y29{bottom:589.214300px;}
.y11{bottom:589.449900px;}
.y1b{bottom:601.693800px;}
.y28{bottom:604.214300px;}
.y10{bottom:604.449900px;}
.y1a{bottom:616.693800px;}
.y27{bottom:619.214300px;}
.yf{bottom:619.449900px;}
.y26{bottom:634.214300px;}
.ye{bottom:634.449900px;}
.y19{bottom:646.693800px;}
.y25{bottom:649.214300px;}
.yd{bottom:649.449900px;}
.y18{bottom:661.693800px;}
.y24{bottom:664.214300px;}
.yc{bottom:664.449900px;}
.y17{bottom:691.693800px;}
.yb{bottom:704.944700px;}
.y16{bottom:706.693800px;}
.y15{bottom:736.693800px;}
.ya{bottom:754.944700px;}
.y14{bottom:766.693800px;}
.y13{bottom:781.693800px;}
.h5{height:17.221632px;}
.h6{height:21.258629px;}
.h3{height:30.000000px;}
.h4{height:53.370811px;}
.h2{height:146.800000px;}
.h8{height:814.500000px;}
.h7{height:817.500000px;}
.h0{height:841.890000px;}
.h1{height:842.000000px;}
.w1{width:1190.500000px;}
.w0{width:1190.550000px;}
.x0{left:0.000000px;}
.x5{left:22.674000px;}
.xf{left:39.685000px;}
.x10{left:41.102300px;}
.x6{left:62.271500px;}
.x8{left:239.075700px;}
.x7{left:336.751000px;}
.x11{left:380.787400px;}
.xa{left:434.908200px;}
.xb{left:622.437500px;}
.xc{left:634.960600px;}
.xd{left:636.377900px;}
.x3{left:741.080700px;}
.x2{left:759.240700px;}
.x1{left:842.364100px;}
.xe{left:976.063000px;}
.x9{left:1037.706848px;}
.x4{left:1156.094000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls7{letter-spacing:-10.453333pt;}
.ls3{letter-spacing:-2.302439pt;}
.ls5{letter-spacing:-1.013333pt;}
.ls4{letter-spacing:-0.567725pt;}
.ls0{letter-spacing:0.000000pt;}
.ls1{letter-spacing:0.320000pt;}
.ls6{letter-spacing:2.826667pt;}
.ls2{letter-spacing:4.887253pt;}
.ls8{letter-spacing:22.773333pt;}
.ls9{letter-spacing:24.426667pt;}
.ws8{word-spacing:-24.426667pt;}
.ws7{word-spacing:-22.773333pt;}
.ws2{word-spacing:-4.887253pt;}
.ws5{word-spacing:-2.826667pt;}
.ws1{word-spacing:-0.320000pt;}
.ws0{word-spacing:0.000000pt;}
.ws4{word-spacing:1.013333pt;}
.ws3{word-spacing:2.302439pt;}
.ws6{word-spacing:10.453333pt;}
._5{margin-left:-19.733333pt;}
._a{margin-left:-10.986667pt;}
._6{margin-left:-3.040000pt;}
._0{margin-left:-1.546667pt;}
._2{width:3.030097pt;}
._1{width:4.789508pt;}
._b{width:22.773333pt;}
._c{width:24.426667pt;}
._7{width:85.333333pt;}
._9{width:131.840000pt;}
._8{width:174.729903pt;}
._3{width:188.894657pt;}
._4{width:3872.513941pt;}
.fs3{font-size:31.540267pt;}
.fs4{font-size:38.881600pt;}
.fs1{font-size:53.333333pt;}
.fs2{font-size:97.745067pt;}
.fs0{font-size:266.666667pt;}
.y0{bottom:0.000000pt;}
.y5{bottom:32.268667pt;}
.y4{bottom:32.975333pt;}
.y6{bottom:33.481733pt;}
.y8{bottom:35.911467pt;}
.y9{bottom:38.144909pt;}
.y7{bottom:47.583333pt;}
.y23{bottom:48.270000pt;}
.y22{bottom:48.976667pt;}
.y3{bottom:531.926533pt;}
.y2{bottom:551.926533pt;}
.y1{bottom:624.093333pt;}
.y21{bottom:662.258400pt;}
.y20{bottom:682.258400pt;}
.y1f{bottom:722.258400pt;}
.y1e{bottom:742.258400pt;}
.y1d{bottom:762.258400pt;}
.y2a{bottom:765.619067pt;}
.y12{bottom:765.933200pt;}
.y1c{bottom:782.258400pt;}
.y29{bottom:785.619067pt;}
.y11{bottom:785.933200pt;}
.y1b{bottom:802.258400pt;}
.y28{bottom:805.619067pt;}
.y10{bottom:805.933200pt;}
.y1a{bottom:822.258400pt;}
.y27{bottom:825.619067pt;}
.yf{bottom:825.933200pt;}
.y26{bottom:845.619067pt;}
.ye{bottom:845.933200pt;}
.y19{bottom:862.258400pt;}
.y25{bottom:865.619067pt;}
.yd{bottom:865.933200pt;}
.y18{bottom:882.258400pt;}
.y24{bottom:885.619067pt;}
.yc{bottom:885.933200pt;}
.y17{bottom:922.258400pt;}
.yb{bottom:939.926267pt;}
.y16{bottom:942.258400pt;}
.y15{bottom:982.258400pt;}
.ya{bottom:1006.592933pt;}
.y14{bottom:1022.258400pt;}
.y13{bottom:1042.258400pt;}
.h5{height:22.962177pt;}
.h6{height:28.344838pt;}
.h3{height:40.000000pt;}
.h4{height:71.161081pt;}
.h2{height:195.733333pt;}
.h8{height:1086.000000pt;}
.h7{height:1090.000000pt;}
.h0{height:1122.520000pt;}
.h1{height:1122.666667pt;}
.w1{width:1587.333333pt;}
.w0{width:1587.400000pt;}
.x0{left:0.000000pt;}
.x5{left:30.232000pt;}
.xf{left:52.913333pt;}
.x10{left:54.803067pt;}
.x6{left:83.028667pt;}
.x8{left:318.767600pt;}
.x7{left:449.001333pt;}
.x11{left:507.716533pt;}
.xa{left:579.877600pt;}
.xb{left:829.916667pt;}
.xc{left:846.614133pt;}
.xd{left:848.503867pt;}
.x3{left:988.107600pt;}
.x2{left:1012.320933pt;}
.x1{left:1123.152133pt;}
.xe{left:1301.417333pt;}
.x9{left:1383.609130pt;}
.x4{left:1541.458667pt;}
}
